<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<span><a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-medium-and-down"><i class="material-icons">menu</i></a></span>
			<div class="hide-on-med-and-down">
				<ul class="centered">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li class="divider"></li>
					@if (User.Identity.IsAuthenticated)
					{
						<li><a class="dropdown-trigger" href="#!" data-target="dropdownProfile"><i class="material-icons left">account_box</i>@User.Identity.Name</a></li>
					}
					else
					{
						<li><a asp-action="Login" asp-controller="Account">Login</a></li>
						<li><a asp-action="Register" asp-controller="Account">Register</a></li>
					}
					<li>@Html.ActionLink("Browse Datapacks", "Index", "Datapacks")</li>
					<li>
						<form action="../Datapacks">
							<div class="input-field">
								<input name="search" id="search" type="search" value="@ViewData["filter"]" required>
								<label class="label-icon" for="search"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</li>
				</ul>
				<div class="">
					@Html.BuildBreadcrumbNavigation()
				</div>
			</div>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		@if (User.Identity.IsAuthenticated)
		{
			<li>Hi @User.Identity.Name</li>
			<li class="divider"></li>
		}
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li class="divider"></li>
		@if (User.Identity.IsAuthenticated)
		{
			<li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
		}
		else
		{
			<li><a asp-action="Login" asp-controller="Account">Login</a></li>
			<li><a asp-action="Register" asp-controller="Account">Register</a></li>
		}
		<li class="divider"></li>
		<li>@Html.ActionLink("Browse Datapacks", "Index", "Datapacks")</li>
		<li>
			<form action="../Datapacks">
				<div class="input-field">
					<input name="search" id="search" type="search" value="@ViewData["filter"]" required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</li>
	</ul>

	<ul id="dropdownProfile" class="dropdown-content">
		<li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
	</ul>
	<div class="container">
		<br />
		@RenderBody()
	</div>
	<!--<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">The Footer is TODO</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; 2018 - Datapack Manager
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>-->


	<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src="~/js/site.min.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
